<form [formGroup]="codeNameForm" (ngSubmit)="ok()">
  <div class="modal-header p-1">
    <h6 class="modal-title pull-left">{{title}}</h6>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body px-2 py-0">
    <div class="form-group">
      <label class="mb-0">Код</label>
      <input class="form-control p-1" [ngClass]="{
                  'is-invalid':
                  codeNameForm.get('code').errors &&
                  codeNameForm.get('code').touched
                  }"
        formControlName="code" />
    </div>
    <div class="form-group">
      <label class="mb-0">Наименование</label>
      <textarea class="form-control p-1" [ngClass]="{
              'is-invalid':
              codeNameForm.get('name').errors &&
              codeNameForm.get('name').touched
              }"
        autosize [minRows]="2" formControlName="name"></textarea>
    </div>
    <div class="modal-footer p-1">
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="modalRef.hide()">Отмена</button>
      <button type="button" class="btn btn-sm btn-outline-success" (click)="ok()" [disabled]="!codeNameForm.valid">{{buttonName}}</button>
    </div>
  </div>
</form>
