<div class="container mt-5">
  <div class="text-center">
    <h1>
      <app-smart-name [name]="'HomeWelcome'"></app-smart-name>
    </h1>
    <h2 class="mt-5">
      <app-smart-name [name]="'HomeTitle'"></app-smart-name>
    </h2>
    <h2>
      <app-smart-name [name]="'HomeShortTitle'"></app-smart-name>
    </h2>
  </div>

  <div class="mt-5">
    <app-smart-name [name]="'HomeDescription1'"></app-smart-name>
  </div>
  <div class="mt-5">
    <app-smart-name [name]="'HomeDescription2'"></app-smart-name>
  </div>

</div>
